---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="About">
  <p class="max-w-lg [text-wrap:balance] mb-3">
    SpaceX Launches, powered by the robust Astro 3.0 framework, allows you to
    stay up-to-date with all the exciting SpaceX launches in one convenient
    place. SpaceX, the innovative space exploration company led by Elon Musk, is
    at the forefront of the aerospace industry and has undertaken historic
    launches that have captured the imagination of people worldwide.
  </p>

  <p class="font-medium">
    Developed by
    <a
      class="underline"
      href="https://twitter.com/Jozefzin"
      target="_blank"
      rel="noopener noreferrer">Jose Ignacio.</a
    >
  </p>
</Layout>
